h1{
    background-color: blue;
    font-size: 60px;
}
.p1{
    font-family: fantasy;
    color: brown;
    background-color: aqua; 
    margin-top: 10px;

}
#p2{
    text-align: center;
    color: aquamarine;
    background-color: black;
}
body{

    text-align: center;
}